@model IEnumerable<YourNews.Core.Models.News>
@{
    ViewData["Title"] = "Index";
}
<style>
    li.active {font-weight:bold;}
</style>

<h2>@(ViewBag.ActiveCategory != null ? ViewBag.ActiveCategory.Name : "Tüm") Haberler@(ViewBag.ActiveCategory != null ? "i" : "")</h2>
<div class="row">
    <div class="col-md-3">
        <ul>
            @foreach (var category in (IEnumerable<CategoryViewModel>)ViewBag.Categories)
            {
                <li class="@(ViewBag.ActiveCategory!=null&&category.Id==ViewBag.ActiveCategory.Id?"active":"")"><a asp-action="Index" asp-route-id="@category.Id">@category.Name  (@category.Quantity)</a></li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        @foreach (var item in Model)
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><a asp-action="Details" asp-controller="News" asp-route-id="@item.Id">@item.Title</a></h3>
                </div>
                <div class="panel-body">
                    @Html.Raw(!string.IsNullOrEmpty(item.Description) ? (item.Description.Substring(0, (item.Description.Length < 200 ? item.Description.Length : 200))) : "")

                    @if (!string.IsNullOrEmpty(item.Photo))
                    {
                        <img src="/uploads/@item.Photo" class="img img-thumbnail pull-left" style="max-width:200px;" />
                    }
                    <br />
                    <span style="font-size:xx-small">Kategori:@item.Category.Name Tarih:@item.PublishDate.ToString("dd.MM.yy")</span>

                </div>
            </div>
        }
    </div>
</div>

